<!DOCTYPE html>
<html>
<head>
    <title>Просмотр всех записей</title>
</head>
<body>
    <h1>Все записи в таблице</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th>Пароль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
